<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Courses</title>
</head>

<body>
    <h1>Add a new course</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/add_course" method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="desc">Description:</label>
            <input type="text" name="desc">
        </div>
        <input type="submit" name="submit" value="Add" class="submit">
    </form>
    <h1>Courses</h1>
    <table>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
        {% for desc in descriptions %}
        <tr>
            <td>{{ desc.course.name }}</td>
            <td>{{ desc.desc }}</td>
            <td>{{ desc.course.created_at }}</td>
            <td><a href="/destroy/{{ desc.id }}">remove</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>